<!DOCTYPE=html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Venue Project</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
	<div class="header">
		<h1>Title</h1>
	</div>
	<div>
		<table class="optionBar">
			<tr>
				<td><input type="button" onclick="loadRegisterPage" value="Register New Event" id="new-event-register"/></td>
				<td><input type="button" value="Profile"/></td>
				<td><input type="button" value="logout"/></td>
				<td><input class="loginButton" type="button" value="Login/Sign up" id="login-button"/></td>

			</tr>
		</table>
	</div>
	<div>
		<table class="eventsTable">				
			<tr>	
				<td>Event Name</td>
				<td>Event Location</td>
				<td>Buy Tickets</td>
			</tr>
			
			{% for item in data %}
			<tr>
				<td>{{item[0]}}</td>
				<td>{{item[1]}}</td>
				<td>{{item[2]}}</td>
				<td><input class="ticketButton" onclick="loadPurchasePage('{{ item[0] }}')" type="submit" value="Buy Ticket"/></td>
				<td><input class='ticketButton' type='submit' value='Map'/></td>
			</tr>
			{% endfor %}
		</table>
	</div>
        <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
